#highchart {
  max-width: 100vw;
    display: flex;
    height: 400px;
    margin-bottom: 30px;
  }
  
.matSource{
  margin-top: 70px;
}

#highchart div.highcharts-fixed path.highcharts-axis-line{
  margin-top: 110px !important;
}


style attribute {
margin-top: 40px!important;
}


