<mat-card class="card-container">
  <mat-card-header class="title">
    <mat-card-title *ngFor="let week of info">
      <div *ngIf="week.key == 'overview_week'">
        {{ week.value }} {{ currentWeek }}
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
      <mat-card class="box-card">
        <div class="box-icon">
          <mat-icon class="icon-card"> align_horizontal_left </mat-icon>
          <mat-card-header class="gird-flex">
            <mat-card-title class="title" *ngFor="let revenue of info">
              <div *ngIf="revenue.key == 'overview_revenue'">
                {{ revenue.value }}
                <h3>{{ base }} <span>&nbsp; (1,1)</span></h3>
              </div>
              <div *ngIf="revenue.key == 'overview_better_than'">
                <p>{{ revenue.value }} 82%</p>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-header class="filter_info">
            <button
              class="tooltip"
              matTooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              aria-hidden="true"
              aria-label="tooltip"
            >
              ?
            </button>
          </mat-card-header>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="box-card">
        <div class="box-icon">
          <mat-icon class="icon-card"> percent </mat-icon>
          <mat-card-header class="gird-flex">
            <mat-card-title class="title" *ngFor="let gross_margin of info">
              <div *ngIf="gross_margin.key == 'overview_gross_margin'">
                {{ gross_margin.value }}
                <h3>43.2%<span>&nbsp; (48,2)</span></h3>
              </div>
              <div *ngIf="gross_margin.key == 'overview_better_than'">
                <p>{{ gross_margin.value }} 64%</p>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-header class="filter_info">
            <button
              class="tooltip"
              matTooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              aria-hidden="true"
              aria-label="tooltip"
            >
              ?
            </button>
          </mat-card-header>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="box-card">
        <div class="box-icon">
          <mat-icon class="icon-card"> arrow_circle_right </mat-icon>
          <mat-card-header class="gird-flex">
            <mat-card-title class="title" *ngFor="let sell_through of info">
              <div *ngIf="sell_through.key == 'overview_sell_through'">
                {{ sell_through.value }}
                <h3>4.7%<span>&nbsp; (3,9)</span></h3>
              </div>
              <div *ngIf="sell_through.key == 'overview_better_than'">
                <p>{{ sell_through.value }} 67%</p>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-header class="filter_info">
            <button
              class="tooltip"
              matTooltip="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              aria-hidden="true"
              aria-label="tooltip"
            >
              ?
            </button>
          </mat-card-header>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-header>
    <mat-card-title>
      {{ this.sales_period }} SS22
      <span
        >({{ today | date : "yyyy-MM-dd" }} –
        {{ sixMonthsAgo | date : "yyyy-MM-dd" }})</span
      >
    </mat-card-title>
  </mat-card-header>
    <div class="chart-container">
      <app-horizontal-bar [info]="info" style="overflow-y: hidden;"></app-horizontal-bar>
    </div>
</mat-card>
<mat-card-header class="margin-top">
  <p>Powered by Purply technology™</p>
</mat-card-header>
